#Login-Page{
	background-image: url('../../images/cover-bg.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
}
#Login-Info
{
	font-weight: bold;
	font-size: 45px;
	color: #662367;
    line-height: 50px;
}

.purple-bg
{
	background-color: #662367;
}
.btn-purple-color
{
	border:  2px solid #662367;
	color: #662367;
	font-size: 18px;
	font-weight: bold;
}

.btn-purple-color:hover
{
	background-color: #662367;
	color: white;
}
.form-text-color
{
	color: #662367 !important;
}

.Information
{
	font-weight: bold;
	font-size: 45px;
	color: #662367;
    line-height: 50px;
}


.student-info
{
	box-shadow: 0px 0px 18px #662367;
}

.status{
	border-radius: 12px;
	font-size: 12px;
	font-weight: bold;
	color: white;
}
.status.active{
	border:  2px solid #00C851;
	background-color: #00C851;
}
.status.inactive{
	border:  2px solid #FF3547;
	background-color: #FF3547;
}